@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

nav {
  background-color: #333;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  padding: 8px 15px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.navbar-brand {
  padding: 0px 15px;
}

nav a:hover {
  background-color: #555;
}

#app {
  max-width: 800px;
  margin: 0 auto;
}

.card img {
  max-width: 250px;
  max-height: 250px;
}

.card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.game-cards-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.back-btn {
  margin-top: 24px;
}
